/* (c) Copyright Veera Lupunen 2021
Colours: Kaneli Kalliokoski
*/

body {
    margin: auto;
    max-width: 75em;
	padding: 0 3em;
	background-color: #BEC3BD;
}

.header {
	background-color: #34E700;
	margin: 0 -3em;
	padding: 2em 0;
}

h1 {
	text-align: center;
	font-family: 'Nadeem';
	font-size: 3em;
}

nav {
	display: flex;
	justify-content: center;
}

nav li {
	display: inline-block;
}

nav li a {
	display: inline-block;
    text-decoration: none;
    color: #FFF;
	padding: 1em;
	border: 1px solid #848484;
	background-color: #848484;
	font-size: 1em;
	font-family: 'Nadeem';
	text-align: center;
}

#chatbox {
	background-color: white;
	height: 250px;
	width: 70%;
	padding: 0.75em;
	margin: auto;
	overflow: scroll;
}

#writing-area {
	background-color: white;
	height: 30px;
	width: 50%;
	padding: 0.5em;
	margin: 0.75em;
}

#send-message {
	display: flex;
	justify-content: center;
}

.note {
	background-color: #FDE44A;
	padding: 1em;
}

span.message {
	background-color: #BED852;
	padding: 0.25em;
	display: inline-block;
}

span.sender-name {
	background-color: #FA9C04;
	padding: 0.25em;
	display: inline-block;
}

.new-message.me {
	text-align: right;
}

button {
	background-color: #34E700;
	border: 2px solid #848484;
	height: 6em;
	width: 6em;
	margin: 0.5em;
}

button:hover {
	background-color: #BED852;
	cursor: pointer;
}





