<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>
		Tekoälychatti - {% block title %}{% endblock %}
	</title>
</head>
<body>
	<div class="header">
		<h1>
			Työaikakirjanpito
		</h1>
	</div>
	<nav>
		<ul>
			<li><a href="/home">Etusivu</a></li>
			<li><a href="/add-entry">Tallenna</a></li>
			<li><a href="/browse">Selaa</a></li>
			<li><a href="/settings">Hallitse</a></li>
			<li><a href="/logout">Kirjaudu ulos</a></li>
		</ul>
	</nav>
	{% block content %}{% endblock %}
</body>
</html>