<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>
		Tekoälychatti - {% block title %}{% endblock %}
	</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	<div class="header">
		<h1>
			Tekoälychatti
		</h1>
	</div>
	<nav>
		<ul>
			<li><a href="/codes">Luo koodeja</a></li>
			<li><a href="/database">Tietokanta</a></li>
			<li><a href="/settings">Asetukset</a></li>
			<li><a href="/logout">Kirjaudu ulos</a></li>
		</ul>
	</nav>
	{% block content %}{% endblock %}
</body>
</html>