<!DOCTYPE html>
<html>
<head>
	{% extends "layout.html" %}
	{% block title %}Tekoälychatti{% endblock %}
	{% block head %}
	<script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(function() {
			'use strict';
			const socket = io.connect('//' + document.domain + ':' + location.port + '/chat');
			
			socket.on('connect', function() {
				socket.emit('joined', {});
			});
			
			socket.on('message', function(data) {
				// console.log(data);
				const messages = $('#chatbox');
				const newMessage = $('<div class="new-message"></div>');
				
				/*var sender = $('<span class="sender-name"></span>');
				sender.text(data.name);*/
				
				const content = $('<span class="message"></span>'); 
				content.text(data.message);
				
				newMessage.append(content);
				
				const name = "{{ name }}";
				if (name == data.name) {
					newMessage.addClass("me");
				} else {
					newMessage.addClass("other");
				}			
				
				messages.append(newMessage);
                messages.scrollTop(messages[0].scrollHeight);
			});
			
			$('#send-message').on('submit', function(evnt) {
				evnt.preventDefault();
				const message = $('#writing-area').val();
				socket.emit('text', message);
				$('#writing-area').val("");
			});
			
			$('#leave').on('click', function(evnt) {
				socket.emit('leave', {});
				socket.disconnect();
				window.location.href = "{{ url_for('home') }}";
			});
		});
	</script>
		{% endblock %}
	</head>
	<body>
		{% block content %}
		<h2>Tervetuloa juttelemaan! Welcome!</h2>
		<p>Tehtävänäsi on kysyä kysymyksiä ja pyrkiä selvittämään, jutteletko ihmisen vai tietokoneen kanssa. Kivaa keskustelua!</p>
		<p>Your job is to ask questions and figure out whether you're talking to a person or a computer. Happy chatting!</p>
		<p>Tämän keskustelun koodi on/The code for this conversation is {{ room }}.</p>
		<div id="chatbox">
			Tähän tulevat viestit puhekuplissa/Here your messages are printed in speech bubbles.
		</div>
		<div>
			<form id="send-message">
				<input id="writing-area" placeholder="Kirjoita jotain ja paina enter/Write something and press enter"><br>
				<button id="send" type="submit">Lähetä viesti<br>Send message</button>
				<button id="leave">Poistu chatista<br>Leave chat</button>
			</form>
		</div>
		{% endblock %}
	</body>
	</html>