<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{% extends "layout.html" %}
	{% block title %}Tekoälychatti{% endblock %}
</head>
<body>
	{% block content %}
	<h2>Tervetuloa juttelemaan!</h2>
	<p>Tehtävänäsi on kysyä kysymyksiä ja pyrkiä selvittämään, jutteletko ihmisen vai tietokoneen kanssa. Aloita antamalla oma nimesi ja ohjaajalta saamasi koodi. Kivaa keskustelua!</p>
	<form action="/join" method="POST">
		<p>Nimi:<br>
			<input type="text" name="name">
		</p>
		<p>Koodi:<br>
			<input type="text" name="code">
		</p>
		<button type="submit">Liity keskusteluun</button>
	</form>
	{% endblock %}
</body>
</html>