<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{% extends "layout.html" %}
	{% block title %}Tekoälychatti{% endblock %}
</head>
<body>
	{% block content %}
	<h2>Tervetuloa juttelemaan!</h2>
	<p>Tehtävänäsi on kysyä kysymyksiä ja pyrkiä selvittämään, jutteletko ihmisen vai tietokoneen kanssa. Aloita antamalla oma nimesi ja ohjaajalta saamasi koodi. Kivaa keskustelua!</p>
	{% if note %}
	<div class="note">
		{{ note }}
	</div>
	{% endif %}
	<div class="form">
		<form action="/join" method="POST">
			<p>
				<span class="input-text">Nimi:</span>
				<input type="text" name="name" required value="{% if name %}{{ name }}{% endif %}">
			</p>
			<p>
				<span class="input-text">Koodi:</span>
				<input type="text" name="code" required value="{% if code %}{{ code }}{% endif %}">
			</p>
			<button type="submit">Lähetä</button>
		</form>
	</div>
	{% endblock %}
</body>
</html>